* {
    margin: 0;
    padding: 0;
}
html,body {
    widows: 100%;
}
ul li{
    list-style: none;
}
.main {
    width: 100%;
}
.header {
    text-align: center;
    background-color:#eee;
    padding: 10px 5px;
}
.header p{
    font-weight: bold;
}
.search {
    width: 100%;
}
.search input {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    outline: none; /*去掉选中时的黄色框*/
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}
.content{
    width: 100%;
}
.content-items{
    width: 100%;
}
.content-item{
    display: flex;
    padding: 10px;
    align-items: top;
    overflow: hidden;
}
.left-pic{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;  /*把图片超出的直角部分隐藏*/
}
.left-pic img{
    width: 100%;
}
.message{
    flex:1;
    margin-left: 10px;
    margin-top:5px;
    position: relative;
    /* padding-bottom:22px; */
}
.message::after{
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    background: #eee;
    bottom: -10px;
    left: 0;
}
.name{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}
.detail,.time{
    font-size: 12px;
    color: #555555;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #eeeeee;
    padding:5px 0;
    border-top: 1px solid #aaaaaa;
}
.ft-items {
    width: 100%;
    display: flex;
}
.item {
    flex: 1;
    text-align: center;
}
.item img {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.item-name {
    font-size: 12px;
    columns: #555555;
}